.layer{
    object-fit: contain;
    background-color: transparent;
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Layer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    width: 100%;
}