.info{
    background-color: black;
}

.info {
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    text-align: center;  
    color:white  
}

.titulo {
  display: flex;
  
  justify-content: center;
  align-items: end;    
  height: 50%;
  color:white  
}

.texto {
    justify-content: center;
    align-items: center;  
    display: block;
    height: 100vh; 
    color:white  
       
}

.parrafo {
    

}