.cart { 
    display: grid;    
    place-items: center;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;   
}

.imagen {
    max-width: 100px;
    height: 100px;
}