.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.objetoProductos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-image: url("../assets/FondoInicio.png");
}
.cart {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    text-align: center; 
}

.card {
    display: flex;    
    flex-direction: column;
    align-items: center;
    background-color: brown; 
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.title, .text {
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 10px;
}

.imagen {
    max-width: 150px;
    height: auto;
}

.buttonProduct{
    margin: 10px 10px;
}

.buscador{
    display: flex;
    padding: 500px;
    margin: 500px;
}